# Byte-compiled / cache files
__pycache__/
*.py[cod]
*.pyo
*.pyd

# pytest cache
.pytest_cache/

# Virtual environments
.venv/
venv/
ENV/
env/

# Distribution / packaging
*.egg-info/
dist/
build/

# IDE settings
.idea/
.vscode/
*.iml

# OS-specific
.DS_Store
Thumbs.db
